<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177327945-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177327945-1');
  </script>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Erwin Leonardy</title>

  <!-- HTML Meta Tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="Erwin is one of the Founders of Pengacaramu, an online legal marketplace that aims to solve the trust issues between lawyers and clients. Erwin is a computer science graduate with a passion for mentoring, problem solving, and working in a team." />
  <meta name="author" content="Erwin Leonardy" />

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Erwin Leonardy">
  <meta itemprop="description" content="Erwin is one of the Founders of Pengacaramu, an online legal marketplace that aims to solve the trust issues between lawyers and clients. Erwin is a computer science graduate with a passion for mentoring, problem solving, and working in a team.">
  <meta itemprop="image" content="https://erwinleonardy.com/img/logo.JPG">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://erwinleonardy.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Erwin Leonardy">
  <meta property="og:description" content="Erwin is one of the Founders of Pengacaramu, an online legal marketplace that aims to solve the trust issues between lawyers and clients. Erwin is a computer science graduate with a passion for mentoring, problem solving, and working in a team.">
  <meta property="og:image" content="https://erwinleonardy.com/img/logo.JPG">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Erwin Leonardy">
  <meta name="twitter:description" content="Erwin is one of the Founders of Pengacaramu, an online legal marketplace that aims to solve the trust issues between lawyers and clients. Erwin is a computer science graduate with a passion for mentoring, problem solving, and working in a team.">
  <meta name="twitter:image" content="https://erwinleonardy.com/img/logo.JPG">

  <!-- Schema -->
  <script type="application/ld+json">
    {
    "@context":"http://schema.org",
    "@type":"WebSite",
    "name":"Erwin Leonardy",
    "url":"https://erwinleonardy.com",
    "sameAs":["https://www.facebook.com/erwin.leonardy/",
          "https://www.instagram.com/erwinleonardy/",
          "https://medium.com/@erwinleonardy",
          "https://www.linkedin.com/in/erwin-leonardy/",
          "https://github.com/erwinleonardy"
          ]
    }
  </script>

  {% if site.url == "https://erwinleonardy.github.io/erwin-leonardy/"  %}
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/reset.css" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/bootstrap-grid.min.css" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/animations.css" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/perfect-scrollbar.css" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/owl.carousel.css" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/magnific-popup.css" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}" type="text/css">
    <script src="{{ "/js/modernizr.custom.js" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}"></script>
    <script src="{{ "/js/lazysizes.min.js" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}"></script>
  {% else %}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" type="text/css">
    <link rel="stylesheet" href="/css/animations.css" type="text/css">
    <link rel="stylesheet" href="/css/perfect-scrollbar.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/lazysizes.min.js" async=""></script>
  {% endif %}
</head>

<!--
/*
 * Erwin Leonardy Website
 *
 */
-->