<!-- ---
layout: page
title: Erwin Leonardy
permalink: /#about-me
--- -->

<!-- About Me Subpage -->
<section data-id="about-me" class="animated-section">
  <div class="page-title">
    <h2>About <span>Me</span></h2>
  </div>

  <div class="section-content">
    <!-- Personal Information -->
    <div class="row">
      <div class="col-xs-12">
        <p>
          <blockquote class="quote">"The sole meaning of life is to serve humanity"
            <footer class="quote-author" style="margin-top: 10px;">
              <span>Leo Tolstoy</span>
            </footer>
          </blockquote>

          Erwin is one of the Founders of Pengacaramu, an online legal marketplace that aims to solve the trust issues between lawyers and clients.
          <br /><br />
          Erwin is a computer science graduate with a passion for mentoring, problem solving, and working in a team. He was involved in his school's mentoring program, where he was the mentor for this project called Project Altair. It is a project where students are groomed into talents who can solve real-world problems with their digital prototype.
          <br /><br />
          In his free time, he enjoys reading and taking parts in hackathons to solve real-world problems.</p>
      </div>
    </div>
    <!-- End of Personal Information -->
    
  </div>
</section>
<!-- End of About Me Subpage -->