<!-- Blog Subpage -->
<section data-id="blog" class="animated-section">
    <div class="page-title">
        <h2>Blog</h2>
    </div>

    <div class="section-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="blog-masonry two-columns clearfix">

                <div class="item post-1">
                    <div class="blog-card">
                    <div class="media-block">
                        <div class="category">
                            <!-- <a href="{{ post.url | prepend: site.baseurl | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}" title="{{ post.tag }}">{{ post.tag }}</a> -->
                            <a class="unselectable">Startup</a>
                        </div>
                        <a href="https://medium.com/@erwinleonardy/mustering-up-the-temerity-to-start-a-startup-in-these-uncertain-times-12ec537e5f55" title="Mustering up the Temerity to Start a Startup in These Uncertain Times">
                            {% if site.url != "http://localhost:4000" %}
                                <img src="{{ "/img/blog/medium_31_aug_2020/medium_31_aug_2020.png" | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}" class="size-blog-masonry-image-two-c" alt="Mustering up the Temerity to Start a Startup in These Uncertain Times" title="Mustering up the Temerity to Start a Startup in These Uncertain Times" />
                            {% else %}
                                <img src="/img/blog/medium_31_aug_2020/medium_31_aug_2020.png" class="size-blog-masonry-image-two-c" alt="Mustering up the Temerity to Start a Startup in These Uncertain Times" title="Mustering up the Temerity to Start a Startup in These Uncertain Times" />
                            {% endif %}
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="post-info">
                        <div class="post-date">31 Aug 2020</div>
                        <!-- <a href="{{ post.url | prepend: site.baseurl | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}"> -->
                        <a href="https://medium.com/@erwinleonardy/mustering-up-the-temerity-to-start-a-startup-in-these-uncertain-times-12ec537e5f55" target="_blank">
                            <h4 class="blog-item-title">Mustering up the Temerity to Start a Startup in These Uncertain Times</h4>
                        </a>
                    </div>
                    </div>
                </div>

                {% for post in site.posts %}
                    <div class="item post-1">
                        <div class="blog-card">
                        <div class="media-block">
                            <div class="category">
                                <!-- <a href="{{ post.url | prepend: site.baseurl | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}" title="{{ post.tag }}">{{ post.tag }}</a> -->
                                <a class="unselectable">{{ post.tag }}</a>
                            </div>
                            <a href="{{ post.url | prepend: site.baseurl | prepend: site.github_repository_with_slash | prepend: site.url }}" title="{{ post.title }}">
                                {% if site.url != "http://localhost:4000" %}
                                    <img src="{{ post.image | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}" class="size-blog-masonry-image-two-c" alt="{{ post.title }}" title="{{ post.title }}" />
                                {% else %}
                                    <img src="{{ post.image }}" class="size-blog-masonry-image-two-c" alt="{{ post.title }}" title="{{ post.title }}" />
                                {% endif %}
                                <div class="mask"></div>
                            </a>
                        </div>
                        <div class="post-info">
                            <div class="post-date">{{ post.date | date_to_long_string }}</div>
                            <!-- <a href="{{ post.url | prepend: site.baseurl | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}"> -->
                            {% if site.url != "http://localhost:4000" %}
                                <a href="{{ post.url | prepend: site.baseurl | prepend: site.github_repository_with_slash | prepend: site.url }}" title="{{ post.title }}">
                                    <h4 class="blog-item-title">{{ post.title }}</h4>
                                </a>
                            {% else %}
                                <a href="{{ post.url }}">
                                    <h4 class="blog-item-title">{{ post.title }}</h4>
                                </a>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                {% endfor %}
                
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Blog Subpage -->