<!-- Blog Subpage -->
<section data-id="blog" class="animated-section">
  <div class="page-title">
    <h2>Blog</h2>
  </div>

  <div class="section-content">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="blog-masonry two-columns clearfix">

        {% for post in site.posts %}
          <div class="item post-1">
            <div class="blog-card">
              <div class="media-block">
                <div class="category">
                  <!-- <a href="{{ post.url | prepend: site.baseurl | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}" title="{{ post.tag }}">{{ post.tag }}</a> -->
                  <a class="unselectable">{{ post.tag }}</a>
                </div>
                {% if site.url == "https://erwinleonardy.github.io/erwin-leonardy/"  %}
                  <a href="{{ post.url | prepend: site.baseurl | prepend: site.github_repository_with_slash | prepend: site.url }}" title="{{ post.title }}">
                    <img src="{{ post.image | prepend: site.baseurl | prepend: site.github_repository | prepend: "/" | prepend: site.url }}" class="size-blog-masonry-image-two-c" alt="{{ post.title }}" title="{{ post.title }}" />
                    <div class="mask"></div>
                  </a>
                {% else %}
                  <a href="{{ post.url }}">
                    <img src="{{ post.image }}" class="size-blog-masonry-image-two-c" alt="{{ post.title }}" title="{{ post.title }}" />
                    <div class="mask"></div>
                  </a>
                {% endif %}
              </div>
              <div class="post-info">
                <div class="post-date">{{ post.date | date_to_long_string }}</div>
                <!-- <a href="{{ post.url | prepend: site.baseurl | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}"> -->
                {% if site.url == "https://erwinleonardy.github.io/erwin-leonardy/"  %}
                  <a href="{{ post.url | prepend: site.baseurl | prepend: site.github_repository_with_slash | prepend: site.url }}" title="{{ post.title }}">
                    <h4 class="blog-item-title">{{ post.title }}</h4>
                  </a>
                {% else %}
                  <a href="{{ post.url }}">
                    <h4 class="blog-item-title">{{ post.title }}</h4>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Blog Subpage -->