<!-- Portfolio Subpage -->
<section data-id="portfolio" class="animated-section">
  <div class="page-title">
    <h2>Portfolio</h2>
  </div>

  <div class="section-content">

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <!-- Portfolio Content -->
        <div class="portfolio-content">

          <!-- Tabs -->
          <ul class="portfolio-filters">
            <li class="active">
              <a class="filter btn btn-sm btn-link" data-group="category_all">All</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_landscapes">Landscapes</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_corporate-events">Corporate Events</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_social-events">Social Events</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_personal-events">Personal Events</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_portraits">Portraits</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_products">Products</a>
            </li>
          </ul>

          <!-- Portfolio Grid -->
          <div class="portfolio-grid three-columns">

            <!-- Personal Events -->
            <figure class="item standard" data-groups='["category_all", "category_personal-events"]'>
              <div class="portfolio-item-img">
                <img src="img/covers/graduation.jpeg" alt="Graduations Cover" title="Graduations Cover" />
                <a href="/portfolio-contents" class="ajax-page-load"></a>
              </div>

              <i class="far fa-image"></i>
              <h4 class="name">Graduations 🎓</h4>
              <span class="category">Personal Events</span>
            </figure>

            <figure class="item standard" data-groups='["category_all", "category_personal-events"]'>
              <div class="portfolio-item-img">
                <img src="img/covers/birthday.jpeg" alt="Birthdays Cover" title="Birthdays Cover" />
                <a href="/portfolio-contents" class="ajax-page-load"></a>
              </div>

              <i class="far fa-image"></i>
              <h4 class="name">Birthdays 🎂</h4>
              <span class="category">Personal Events</span>
            </figure>

            <figure class="item standard" data-groups='["category_all", "category_personal-events"]'>
              <div class="portfolio-item-img">
                <img src="img/covers/rom.jpeg" alt="Marriages Cover" title="Marriages Cover" />
                <a href="/portfolio-contents" class="ajax-page-load"></a>
              </div>

              <i class="far fa-image"></i>
              <h4 class="name">Marriages 💍</h4>
              <span class="category">Personal Events</span>
            </figure>

            <figure class="item standard" data-groups='["category_all", "category_personal-events"]'>
              <div class="portfolio-item-img">
                <img src="img/covers/personal_event.jpeg" alt="Outsdoor Events Cover" title="Outdoor Events Cover" />
                <a href="/portfolio-contents" class="ajax-page-load"></a>
              </div>

              <i class="far fa-image"></i>
              <h4 class="name">Outdoor Events ⚽</h4>
              <span class="category">Personal Events</span>
            </figure>

            <!-- Corporate Events -->
            <figure class="item standard" data-groups='["category_all", "category_corporate-events"]'>
              <div class="portfolio-item-img">
                <img src="img/covers/outdoor_event.jpeg" alt="Labour Day Cover" title="Labour Day Cover" />
                <a href="/portfolio-contents" class="ajax-page-load"></a>
              </div>

              <i class="far fa-image"></i>
              <h4 class="name">Labour Day 🏋️‍♂️</h4>
              <span class="category">Corporate Events</span>
            </figure>

            <figure class="item standard" data-groups='["category_all", "category_social-events"]'>
              <div class="portfolio-item-img">
                <img src="img/covers/social_event.jpeg" alt="Social Events Cover" title="Social Events Cover" />
                <a href="/portfolio-contents" class="ajax-page-load"></a>
              </div>

              <i class="far fa-image"></i>
              <h4 class="name">Social Events 👨‍👩‍👦</h4>
              <span class="category">Social Events</span>
            </figure>

            <!-- Others -->
            <figure class="item standard" data-groups='["category_all", "category_landscapes"]'>
              <div class="portfolio-item-img">
                <img src="img/covers/landscape.jpeg" alt="Lanscapes Cover" title="Landscapes Cover" />
                <a href="/portfolio-contents" class="ajax-page-load"></a>
              </div>

              <i class="far fa-image"></i>
              <h4 class="name">Landscapes 🌇</h4>
              <span class="category">Landscapes</span>
            </figure>

            <figure class="item standard" data-groups='["category_all", "category_portraits"]'>
              <div class="portfolio-item-img">
                <img src="img/covers/portrait.jpeg" alt="Portraits Cover" title="Portraits Cover" />
                <a href="/portfolio-contents" class="ajax-page-load"></a>
              </div>

              <i class="far fa-image"></i>
              <h4 class="name">Portraits 📸</h4>
              <span class="category">Portraits</span>
            </figure>

            <figure class="item standard" data-groups='["category_all", "category_products"]'>
              <div class="portfolio-item-img">
                <img src="img/covers/product.jpeg" alt="Products Cover" title="Products Cover" />
                <a href="/portfolio-contents" class="ajax-page-load"></a>
              </div>

              <i class="far fa-image"></i>
              <h4 class="name">Products ⌚</h4>
              <span class="category">Products</span>
            </figure>
          </div>
        </div>
        <!-- End of Portfolio Content -->
      </div>
    </div>
  </div>
</section>
<!-- End of Portfolio Subpage -->
