<!-- Portfolio Subpage -->
<section data-id="portfolio" class="animated-section">
  <div class="page-title">
    <h2>Portfolio</h2>
  </div>

  <div class="section-content">

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <!-- Portfolio Content -->
        <div class="portfolio-content">

          <!-- Tabs -->
          <ul class="portfolio-filters">
            <li class="active">
              <a class="filter btn btn-sm btn-link" data-group="category_all">All</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_landscapes">Landscapes</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_corporate-events">Corporate Events</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_social-events">Social Events</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_personal-events">Personal Events</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_portraits">Portraits</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_products">Products</a>
            </li>
          </ul>

          <!-- Portfolio Grid -->
          <div class="portfolio-grid three-columns">

            {% for post in site.categories.portfolio %}
              <figure class="item standard" data-groups='["category_all", "{{ post.tab_name }}"]'>
                <div class="portfolio-item-img">
                  <img src="{{ post.cover_img_url }}" alt="{{ post.cover_img_alt }}" title="{{ post.cover_img_alt }}" />

                  {% if site.url == "https://erwinleonardy.github.io/erwin-leonardy/"  %}
                    <a href="{{ post.url | prepend: site.baseurl | prepend: site.github_repository_with_slash | prepend: site.url }}" alt="{{ post.cover_img_alt }}"></a>
                  {% else %}
                    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" alt="{{ post.cover_img_alt }}"></a>
                  {% endif %}

                </div>

                <i class="far fa-image"></i>
                <h4 class="name">{{ post.title }}</h4>
                <span class="category">{{ post.tag }}</span>
              </figure>
            {% endfor %}
          </div>
          <!-- End of Portfolio Grid -->
        </div>
        <!-- End of Portfolio Content -->
      </div>
    </div>
  </div>
</section>
<!-- End of Portfolio Subpage -->
