<!-- Resume Subpage -->
<section data-id="resume" class="animated-section">
  <div class="page-title">
  <h2>Resume</h2>
  </div>

  <div class="section-content">

  <div class="row" style="margin-left: 0px; margin-right: 0px;">
    <div class="col-xs-12">

    <div class="block-title">
      <h3>Education</h3>
    </div>

    <div class="timeline timeline-second-style clearfix">
      <div class="timeline-item clearfix">
      <div class="left-part">
        <h5 class="item-period">Jan 2017 – June 2019</h5>
        <span class="item-company">University of Wollongong</span>
      </div>
      <div class="divider"></div>
      <div class="right-part">
        <h4 class="item-title">Bachelor of Computer Science (Digital Systems Security)</h4>
        <p>
        • Dean’s Merit List 2017-2018 (Top 5% of the cohort)<br />
        • Graduated with Distinction (Average Mark: 83)<br />
        • <b>Coursework</b>: Algorithm and Data Structure, Distributed System and Cloud Computing, Object and Generic Programming in C++, Java Programming and Applications, System Developments, Software Development Method and Tools, Database System, Cryptography and Secure Applications, Network Security, System Security
        </p>
      </div>
      </div>
    </div>

    <div class="white-space-50"></div>

    <div class="block-title">
      <h3>Experience</h3>
    </div>

    <div class="timeline timeline-second-style clearfix">
      <div class="timeline-item clearfix">
        <div class="left-part">
          <h5 class="item-period">Oct 2020 – Present</h5>
          <span class="item-company">Xfers (YC S15)</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">Backend Engineer (Transactions Team)</h4>
          <p>
          • Spearheaded and led the first batch of Xfers’ Internship Programme<br />
          • Debugged complex production codes and improved logging using Datadog and Rollbar<br />
          • Xfers is Southeast Asia's leading Fintech platform for digital businesses.<br />
          • Transactions team is the backbone of Xfers core business in providing various payment solutions across Indonesia and Singapore.<br />
          • Tech-stack: Ruby on Rails, Sidekiq, Redis & MySQL
          </p>
        </div>
      </div>

      <div class="timeline-item clearfix">
        <div class="left-part">
          <h5 class="item-period">Jan 2020 – Feb 2021</h5>
          <span class="item-company">Pengacaramu</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">Founder & Full-Stack Developer</h4>
          <p>
          • Built a marketplace, with a publicly viewable URL for each user, using Bootstrap, ReactJS, Axios, and Redux<br />
          • Implemented a backend system using NodeJS, Google’s Firestore NoSQL database and Cloud Function<br />
          • API Integrations: Xendit (Real-time payment) and Twillio (Real-time chatting feature)
          </p>
        </div>
      </div>

      <div class="timeline-item clearfix">
        <div class="left-part">
          <h5 class="item-period">Aug 2019 – Jan 2020</h5>
          <span class="item-company">Suntory Beverage & Food Asia</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">Freelance Full-Stack Developer</h4>
          <p>
          • Built RESTful API endpoints using Django REST Framework and Postgres <br />
          • Implemented an authentication system using Django JWT Authentication and ReactJS <br />
          • Designed interactive and responsive frontend pages using Bootstrap, Axios, ReactJS, and Redux <br />
          • Built a Continuous Integration / Continuous Delivery (CI/CD) pipeline using Docker-Compose and Travis CI <br />
          • Hosted backend codes on GCP’s Compute Engine and frontend codes on Google’s Firebase Hosting
          </p>
        </div>
      </div>
    </div>

    <div class="white-space-50"></div>

    <div class="block-title">
      <h3>Leadership Experience & Co-Curricular Activities</h3>
    </div>

    <div class="timeline timeline-second-style clearfix">
      <div class="timeline-item clearfix">
        <div class="left-part">
          <h5 class="item-period">Aug 2018 – July 2019</h5>
          <span class="item-company">Innovation and Networking Society (IONS)</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">Technical Lead</h4>
          <p>
          • Awarded the Impact Award for outstanding performance and contributions <br />
          • Organized and trained 14 members in the 3 Days Python Workshop <br />
          • Mentored 15 IONS members for a 4-month Flask web-application projects <br />
          • Advised members on front-end and back-end issues and solved team challenges
          </p>
        </div>
      </div>

      <div class="timeline-item clearfix">
        <div class="left-part">
          <h5 class="item-period">Apr 2018 – Jun 2018</h5>
          <span class="item-company">Singapore Institute of Management</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">Peer Assisted Learning (PAL) Leader</h4>
          <p>
          • Tutored 6 students in module, Object and Generic Programming in C++ <br />
          • Enabled all students to obtain at least 65 marks
          </p>
        </div>
      </div>

      <div class="timeline-item clearfix">
        <div class="left-part">
          <h5 class="item-period">Aug 2017 – Dec 2017</h5>
          <span class="item-company">Singapore Institute of Management</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">Harvard National Model United Nation (HNMUN) Trainee</h4>
          <p>
          • Selected into 25 delegate-team out of 125 applicants after interviews and assessment center <br />
          • Researched and negotiated in an UN General Assembly diplomatic simulation in SIM
          </p>
        </div>
      </div>
    </div>

    <div class="white-space-50"></div>

    <div class="block-title">
      <h3>Projects</span></h3>
    </div>

    <div class="timeline timeline-second-style clearfix">
      <div class="timeline-item clearfix">
        <div class="left-part">
          <h5 class="item-period">Mar 2019</h5>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title"><a href="https://devpost.com/software/treego" target="_blank">2019 Hack NTU Finalist</a></h4>
          <p>
          • Chosen as one of the finalists out of the 150 contesting teams in 2019 Hack NTU <br />
          • Implemented the back end for the mobile app using Smart Nation API, Android Studio and Firebase that promotes social interaction and raises awareness of the environment
          </p>
        </div>
      </div>

      <div class="timeline-item clearfix">
        <div class="left-part">
          <h5 class="item-period">Jan 2019 – July 2019</h5>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title"><a href="https://github.com/erwinleonardy/Visual-Cryptography" target="_blank">Secure Remote Authentication using Visual Cryptography</a></h4>
          <p>
          • Led a team of 4 and implemented a secure cheque signing web application using visual cryptography and steganography, which was built using Python - Flask, HTML, CSS, Heroku, and Google Cloud Platform <br />
          • Designed the entire backend, frontend, and MySQL table schema <br />
          • Improved user experience by using jQuery and AJAX <br />
          • Developed a noise-cancelling feature for the reconstructed image
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="white-space-50"></div>

    <div class="block-title">
      <h3>Coding <span>Skills</span></h3>
    </div>

    <div class="skills">
      <small>Backend:</small>
      <div class="row" style="margin-left: 0px; margin-right: 0px;">
      <img class="skills-img" alt="Python" src="https://img.shields.io/badge/-Python-3776AB?style=flat-square&logo=Python&logoColor=white" />
      <img class="skills-img" alt="Flask" src="https://img.shields.io/badge/-Flask-000000?style=flat-square&logo=Flask&logoColor=white" />
      <img class="skills-img" alt="Django" src="https://img.shields.io/badge/-Django-092E20?style=flat-square&logo=Django&logoColor=white" />
      <img class="skills-img" alt="JavaScript" src="https://img.shields.io/badge/-JavaScript-F7DF1E?style=flat-square&logo=Javascript&logoColor=white" />
      <img class="skills-img" alt="Nodejs" src="https://img.shields.io/badge/-Nodejs-43853d?style=flat-square&logo=Node.js&logoColor=white" />
      <img class="skills-img" alt="TypeScript" src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white" />
      <img class="skills-img" alt="Java" src="https://img.shields.io/badge/-Java-007396?style=flat-square&logo=Java&logoColor=white" />
      <img class="skills-img" alt="C++" src="https://img.shields.io/badge/-c++-00599C?style=flat-square&logo=c%2B%2B&logoColor=white" />
      <img class="skills-img" alt="C" src="https://img.shields.io/badge/-C-A8B9CC?style=flat-square&logo=C&logoColor=white" />
      <img class="skills-img" alt="PHP" src="https://img.shields.io/badge/-PHP-777BB4?style=flat-square&logo=PHP&logoColor=white" />
      <img class="skills-img" alt="PostgreSQL" src="https://img.shields.io/badge/-PostgreSQL-336791?style=flat-square&logo=PostgreSQL&logoColor=white" />
      <img class="skills-img" alt="MySQL" src="https://img.shields.io/badge/-MySQL-4479A1?style=flat-square&logo=MySQL&logoColor=white" />
      <img class="skills-img" alt="Firebase" src="https://img.shields.io/badge/-Firebase-FFCA28?style=flat-square&logo=firebase&logoColor=white" />
    </div>
    </div>

    <div class="skills">
      <small>Frontend:</small>
      <div class="row" style="margin-left: 0px; margin-right: 0px;">
      <img class="skills-img" alt="React" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white" />
      <img class="skills-img" alt="redux" src="https://img.shields.io/badge/-Redux-764ABC?style=flat-square&logo=redux&logoColor=white" />
      <img class="skills-img" alt="Sass" src="https://img.shields.io/badge/-Sass-CC6699?style=flat-square&logo=sass&logoColor=white" />
      <img class="skills-img" alt="CSS3" src="https://img.shields.io/badge/-CSS3-1572B6?style=flat-square&logo=css3&logoColor=white" />
      <img class="skills-img" alt="html5" src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white" />
      <img class="skills-img" alt="jquery" src="https://img.shields.io/badge/-jquery-0769AD?style=flat-square&logo=jquery&logoColor=white" />
      </div>
    </div>

    <div class="skills">
      <small>Others:</small>
      <div class="row" style="margin-left: 0px; margin-right: 0px;">
      <img class="skills-img" alt="npm" src="https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white" />
      <img class="skills-img" alt="Yarn" src="https://img.shields.io/badge/-Yarn-2C8EBB?style=flat-square&logo=yarn&logoColor=white" />
      <img class="skills-img" alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
      <img class="skills-img" alt="Travis CI" src="https://img.shields.io/badge/-Travis_CI-3EAAAF?style=flat-square&logo=Travis&logoColor=white" />
      <img class="skills-img" alt="Google Cloud Platform" src="https://img.shields.io/badge/-Google_Cloud_Platform-1a73e8?style=flat-square&logo=google-cloud&logoColor=white" />
      <img class="skills-img" alt="Heroku" src="https://img.shields.io/badge/-Heroku-430098?style=flat-square&logo=heroku&logoColor=white" />
      <img class="skills-img" alt="git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />
      <img class="skills-img" alt="github actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" />
      </div>
    </div> -->


    </div>
  </div>
  </div>
</section>
<!-- End of Resume Subpage -->