<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>

    {% include head.html %}

  </head>
  <body>

    <!-- Animated Background -->
    {% if site.url != "http://localhost:4000" %}
      <div class="lm-animated-bg" style="background-image: url('{{ site.baseurl | prepend: site.github_repository_with_slash | prepend: site.url }}/img/main_bg.png')"></div>
    {% else %}
      <div class="lm-animated-bg" style="background-image: url(/img/main_bg.png)"></div>
    {% endif %}
    <!-- /Animated Background -->

    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <div class="page">
      <div class="page-content">

        {% include header.html %}

        <!-- Mobile Navigation -->
        <div class="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- End Mobile Navigation -->

        <!-- Arrows Nav -->
        {% if page.url == "/" %}
          <div class="lmpixels-arrows-nav">
            <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
            <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
          </div>
        {% endif %}
        <!-- End Arrows Nav -->

        {{ content }}

      </div>
    </div>

    {% include footer.html %}

    </body>
</html>